In [7]:
import pandas as pd
import glob
import os

In [8]:
# get all JSON files all schools in Malang city
files = glob.glob('../data/dapo-kemdikdasmen/Jawa-Timur/Kota Malang/*/*.json')

In [10]:
temp_df_malang_city = []

for f in files:
    df = pd.read_json(f)
    filename = os.path.splitext(os.path.basename(f))[0]
    df.insert(0, 'sekolah', filename)
    temp_df_malang_city.append(df)

df_malang_city = pd.concat(temp_df_malang_city, ignore_index=True)
df_malang_city

,sekolah,rombel,guru_kelas,guru_matematika,guru_bahasa_indonesia,guru_bahasa_inggris,guru_sejarah_indonesia,guru_pkn,guru_penjaskes,guru_agama_budi_pekerti,...,sumber_air_minum,kecukupan_air_bersih,jamban_kk,tipe_jamban,jml_hari_cuci_tangan,jml_wastafel,jml_wastafel_rusak,air_mengalir_wastafel,memiliki_drainase,menguras_tangki_septik
0,SDLB SUMBER DHARMA,7,6,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SLB SATHITEN,7,2,0,0,1,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SLB YPAC KOTA MALANG,13,12,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SLBS BCG IDAYU,11,6,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SMALB BCG SUMBER DHARMA,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SMP LB SUMBER DHARMA,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"SLB A,B,D NEGERI KEDUNGKANDANG KOTA MALANG",32,28,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,SLB C AUTIS NEGERI KEDUNGKANDANG KOTA MALANG,21,20,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SLB YAYASAN PUTRA PANCASILA,13,12,0,0,0,0,9,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,SLB-B YPTB MALANG,14,10,0,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,SLB AUTIS LABORATORIUM UM MALANG,18,11,0,0,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,SLB AUTISME RIVER KIDS,27,16,0,0,0,0,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,SLB PUTRA JAYA MALANG,14,13,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,SLB BHAKTI LUHUR,47,44,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN